// Media queries
// hero section
@media (max-width: 1337px) {
    .hero-section .container {
        gap: 80px;
       
    }

    .hero-section .container .image {
        width: 40%;
    }

    .hero-section .container .text {
        padding: 15px;
    }
}

@media (max-width: 1028px) {
    .hero-section .container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .hero-section .container .image {
        width: 50%;
    }

    .hero-section .container .text {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .hero-section .container {
        gap: 20px;
        display: block;
        align-items: center;
    }

    .hero-section .container .image {
        width: 70%;
    }

    .hero-section .container .text {
        padding: 5px;
    }
}

// about section
@media (max-width: 1337px) {
    .about-section .container {
      gap: 30px;
  
      .abt-text {
        h1 {
          font-size: 45px;
        }
  
        p {
          font-size: 18px;
        }
      }
    }
  }
  
  @media (max-width: 1028px) {
    .about-section .container {
      flex-direction: column;
      align-items: center;
  
      .abt-text {
        margin-top: 50px;
  
        h1 {
          font-size: 40px;
        }
  
        p {
          font-size: 16px;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .about-section {
      padding: 20px 5px;
    }
  
    .about-section .container {
      gap: 20px;
  
      .abt-text {
        margin-top: 30px;
  
        h1 {
          font-size: 35px;
        }
  
        p {
          font-size: 14px;
        }
      }
    }
  }

//   resume section
@media (max-width: 1337px) {
    .resume-section section {
      max-width: 700px;
      padding: 15px;
  
      .skill-ul .skill-li {
        padding: 25px;
      }
    }
  }
  
  @media (max-width: 1028px) {
    .resume-section section {
      max-width: 600px;
      padding: 10px;
  
      .skill-ul {
        flex-direction: column;
        align-items: center;
      }
  
      .skill-ul .skill-li {
        margin-bottom: 15px;
        padding: 20px;
      }
    }
  }
  
  @media (max-width: 768px) {
    .resume-section section {
      max-width: 100%;
      padding: 5px;
  
      .skill-ul .skill-li {
        padding: 15px;
      }
    }
  }

//  Testimonial section 
@media (max-width: 1337px) {
    .testimonial-section {
      padding: 40px;
  
      .container {
        padding: 15px;
  
        .testimonial {
          padding: 15px 0;
        }
      }
    }
  }
  
  @media (max-width: 1028px) {
    .testimonial-section {
      padding: 30px;
  
      .container {
        padding: 10px;
  
        .testimonial {
          padding: 10px 0;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .testimonial-section {
      padding: 20px;
  
      .container {
        padding: 5px;
  
        .testimonial {
          padding: 5px 0;
        }
  
        .cta {
          margin-top: 20px;
        }
      }
    }
  }

//  Project section 
@media (max-width: 1337px) {
    .project-section {
      padding: 25px 5px;
  
      .container {
        gap: 40px;
      }
    }
  }
  
  @media (max-width: 1028px) {
    .project-section {
      padding: 20px 5px;
  
      .container {
        flex-direction: column;
        align-items: stretch;
        gap: 30px;
      }
    }
  }
  
  @media (max-width: 768px) {
    .project-section {
      padding: 15px 5px;
  
      .container {
        gap: 20px;
      }
    }
  }

//  contact section 
@media (max-width: 1337px) {
    .container .center {
      width: 60%;
      padding: 40px;
    }
  }

  @media (max-width: 1028px) {
    .container .center {
      width: 70%;
      padding: 30px;
    }
  }

  @media (max-width: 768px) {
    .container .center {
      width: 80%;
      padding: 20px;

      form {
        padding: 0 20px;
      }
    }
  }


// footer section
@media (max-width: 1337px) {
    .container {
      padding: 50px 20px;
    }
  }

  @media (max-width: 1028px) {
    .container {
      padding: 40px 15px;

      .socialIcons a {
        padding: 8px;
      }

      .footerNav ul {
        flex-wrap: wrap;
        justify-content: center;

        li {
          a {
            margin: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 30px 10px;

      .socialIcons {
        flex-wrap: wrap;
        justify-content: center;

        a {
          margin: 5px;
        }
      }

      .footerNav ul {
        flex-direction: column;

        li {
          a {
            margin: 10px 0;
          }
        }
      }
    }
  }